body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}



header {
    background-color: #000000;
    color: #fff;
    padding: 5px 0;
    width: 100%;
    position: fixed; /* Fixa o cabeçalho na posição */
    top: 0; /* Posiciona o cabeçalho no topo da página */
    left: 0;
    z-index: 1000; /* Para garantir que o cabeçalho esteja na frente de outros elementos */
}

main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav-links {
    display: flex;
    align-items: center; /* Centralizar verticalmente */
}

.nav-links li {
    margin: 0 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 50px;
    background-color: #f9f9f9;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 400px;
    text-align: left;
    margin-top: 100px;
}

label {
    display: block;
    margin-bottom: 5px; /* Reduz a margem inferior entre os labels */
}


input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Reduz a margem inferior entre os inputs */
}


button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

.logo {
    margin-right: 20px; /* Adiciona um espaço entre o logo e o título */
}

.logo img {
    width: 50px; /* Diminui o tamanho do logo */
}

.logo a, h1.title a{
    text-decoration: none;
    color: white;
    &:hover{
        color: #ffcc00;
    }
}

.nav-links{
    list-style: none;

}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.username{
    text-decoration: none;
    color: #ffcc00;
}

.container {
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens dentro do header */
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px;
}

.title {
    flex-grow: 1; /* Faz o título ocupar todo o espaço disponível */
    color: #ffffff; /* Define a cor do texto para branco */
}

.catalog {
    display: flex;
    flex-wrap: wrap; /* Para que os itens quebrem para a próxima linha se não couberem na largura da tela */
    justify-content: space-between; /* Para espaçar os itens igualmente na linha */
    margin-top: 20px;
}

.item {
    width: calc(33.33% - 10px); /* Define a largura dos itens para ocupar cerca de um terço da largura do contêiner */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px; /* Adiciona um espaço entre os itens */
}

.item img {
    max-width: 100%; /* Define a largura máxima da imagem como 100% do contêiner pai */
    max-height: 200px; /* Define a altura máxima da imagem para evitar cortes */
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px; /* Adiciona margem superior para mover a imagem para baixo */
}

a.button {
    color: #5100ff;
    text-decoration: underline;
}

.section-title {
    margin-bottom: 20px; /* Adiciona espaço abaixo do título */
    margin-right: 60px;
}
