<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Filme</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="logo.jpg" alt="Logo UTFilmes">
            </div>
            <h1 class="title">UTFilmes</h1>
            <nav>
                <ul class="nav-links">
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="filme-details">
            <img src="https://image.tmdb.org/t/p/w185{{ filme.poster }}" alt="Poster de {{ filme.titulo }}">
            <h2>{{ filme.titulo }}</h2>
            <p><strong>Descrição:</strong> {{ filme.descricao }}</p>
            <p><strong>Nota Média:</strong> {{ filme.nota_media }}</p>
            <!-- Adicione mais informações conforme necessário -->
        </div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 Catálogo de Filmes e Séries. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>