<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTFilmes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="logo.jpg" alt="Logo UTFilmes">
            </div>
            <h1 class="title">UTFilmes</h1>
            <nav>
                <ul class="nav-links">
                </ul>
            </nav>
        </div>
    </header>

    <div id="cadastro" class="section">
        <div class="container">
            <h2 class="section-title">Cadastro de Usuário</h2>
            <form action="#" method="post" id="cadastro-form">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 UTFilmes. Todos os direitos reservados.</p>
        </div>
    </footer>
    
    <script src="scripts.js"></script>
    <script>
        document.getElementById('cadastro-form').addEventListener('submit', function(event) {
            // Impede o envio padrão do formulário
            event.preventDefault();

            // Após o cadastro bem-sucedido, redireciona para a página do catálogo
            window.location.href = 'catalogo.html';
        });
    </script>
</body>
</html>
