<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resenhas do Filme</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .resenha-info {
            margin-bottom: 10px;
        }
        /* Adicionando estilo para exibir as resenhas em colunas */
        .resenhas-list {
            display: flex;
            flex-direction: column; /* Exibir as resenhas em colunas */
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <h1 class="title">
                <a href="/">UTFilmes</a>
            </h1>
            <nav>
                <ul class="nav-links">
                    {% if 'usuario_id' not in session %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="/cadastro">Cadastro</a></li>
                    {% else %}
                        <a class="username" href="/usuario">Usuario: {{ session['usuario_id'] }}</a>
                        <li><a href="{{ url_for('logout') }}">Encerrar Sessão</a></li>
                        <!-- Adicionando o link para a watchlist -->
                        <li><a href="{{ url_for('watchlist') }}">Watchlist</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <h2>Resenhas do Filme "{{ filme.titulo }}"</h2>
        </div>
        <div class="container">
            <img class="poster" src="https://image.tmdb.org/t/p/w185{{ filme.poster }}" alt="Poster de {{ filme.titulo }}">
            <p><strong>Descrição:</strong> {{ filme.descricao }}</p>
        </div>
        <div class="container">
            <h3>Resenhas:</h3>
        </div>
        <div class="container resenhas-list">
            <!-- Adicionei a classe resenhas-list para aplicar o estilo flex-direction: column -->
            {% for nome, resenha in resenhas.items() %}
                <div class="resenha-info">
                    <div><strong>Usuário: </strong>{{ nome }}</div>
                    <div><strong>Resenha: </strong>{{ resenha[0] }}</div>
                    <div><strong>Nota: </strong>{{ resenha[1] }}</div>
                </div>
            {% endfor %}
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 UTFilmes. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
<script>
    import logo from "../assets/logo.png";
    const imagemLogo = document.getElementById("logo-UTFilme")
</script>
</html>
