<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTFilmes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="logo.jpg" alt="Logo UTFilmes">
            </div>
            <h1 class="title">UTFilmes</h1>
            <nav>
                <ul class="nav-links">
                    {% if 'usuario_id' in session %}
                        <li>Usuário: {{ session['usuario_id'] }}</li>
                        <li><a href="{{ url_for('logout') }}">Encerrar Sessão</a></li>
                        <!-- Adicionando o link para a watchlist -->
                        <li><a href="{{ url_for('watchlist') }}">Watchlist</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <!-- Barra de pesquisa -->
    <div class="search-bar">
        <form action="{{ url_for('busca') }}" method="GET">
            <input type="text" name="filme" placeholder="Digite o nome do filme">
            <button type="submit">Pesquisar</button>
        </form>
    </div>

    <div class="container">
        <div class="catalog">
            <!-- Itera sobre os filmes e exibe-os -->
            {% for filme in filmes %}
            <div class="item">
                <a href="{{ url_for('filme', id=filme.id) }}">
                    <img src="https://image.tmdb.org/t/p/w185{{ filme.poster }}" alt="Poster de {{ filme.titulo }}">
                </a>
                <h2>{{ filme.titulo }}</h2>
                <p>{{ filme.descricao }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 Catálogo de Filmes e Séries. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>